* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

html {
    font-size: 16px;
    font-family: "Delius Swash Caps" , sans-serif;
}

/*  navbar  */

#navbar {
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 0.75rem;
height: 70px;
flex-direction: column;
}
#navbar ul {
   
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li {
    padding: 0.75rem;
}

#navbar ul li a:hover {
   background-color: red;
   border-radius: 4px;
}

/* home section */

#home {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2{
    margin-bottom: 0.75rem;
}

#home .name p {
    opacity: 0.6;
    font-style: italic;
}

/* #home a {
    margin-top: 1.25rem;
    background-color: #336ea2;
    padding: 0.8rem 3 rem;
    border-radius:  5px;
    letter-spacing: 0.5px;
}

#home a:hover {
  color: #336ea2;
  background-color: white;
  border: 0.5px solid #336ea2;
} */
